
@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #337ab7;
    }
}

.page-header h1 {
    float: left;
    margin-top: 0;
}

.page-header .flag {
    width: 42px;
    float: right;
}

.numeric-code-container {
    margin-top: 30px;
    font-family: monospace;
    font-size: 31px;
    position: relative;
}

.numeric-code-container .input-group {
    z-index: 1;
}

.numeric-code-container .input-group input {
    height: 50px;
    background-color: white;
}

.numeric-code-container .input-group button {
    height: 50px;
    width: 50px;
}

.numeric-code-container .input-group .glyphicon {
    font-size: 150%;
}

.blinking-cursor {
    position: relative;
    top: -6px;
    font-size: 90%;
    animation: 1s blink step-end infinite;
}

.code-field {
    font-weight: bold;
}

#numeric-code-and-cursor-container, #numeric-mask {
    position: absolute;
    top: 4px;
    left: 20px;
}

#numeric-code-and-cursor-container {
    z-index: 3;
}

#numeric-code {
    background-color: white;
}

#numeric-mask {
    color: lightgray;
    z-index: 2;
}

#result-container {
    margin-top: 10px;
    height: 260px;
}
