
body {
    font-family: monospace;
}

input {
    width: 100%;
}

#code {
    background-color: transparent;
}

#mask {
    position: relative;
    top: -27px;
    left: 13px;
    z-index: -1;
    color: rgba(0,0,0,0.3);
}
