
body {
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #7fa2f7;
    }
}

.numeric-code-container {
    margin-top: 30px;
    font-family: monospace;
    font-size: 33px;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 2px 2px 20px;
}

.blinking-cursor {
    position: relative;
    top: -7px;
    font-size: 90%;
    animation: 1s blink step-end infinite;
}

#numeric-code {
    background-color: white;
}

#numeric-mask {
    color: lightgray;
    position: absolute;
    top: 2px;
    left: 20px;
    z-index: -1;
}
